body{
  font-family: Arial, Helvetica, sans-serif;
}

.headers {
  text-align: center;
}

p {
  margin: 15px;
  padding: 3px;
  border: 2px solid black;
}

.dwayne{
  float: left;
  width: 340px;
}

.mohammed {
  float: left;
  width: 340px;
}

.shirley {
  float: left;
  width: 340px;
}

.quinn {
  float: left;
  width: 340px;
}